APP_NAME = "Mini-RAG"
APP_VERSION = "0.1.0"

FILE_ALLOWED_TYPES = ["text/plain", "application/pdf"]
FILE_MAX_SIZE = 10
FILE_DEFAULT_CHUNK_SIZE = 524_288

MONGODB_URL = "mongodb://<username>:<password>@127.0.0.1:27007"
MONGODB_DATABASE = "agri-rag"

# ========================= Active Services =========================
ACTIVE_GENERATION_BACKEND = "grock" # Options: "COHERE" or "GROK"
ACTIVE_EMBEDDING_BACKEND = "HUGGINGFACE"

# ========================= API Credentials =========================
COHERE_API_KEY = "APIKey"
GROK_API_KEY = "APIKey"
XAI_API_URL = "https://api.x.ai/v1"

# ========================= Models =========================
COHERE_GENERATION_MODEL = "command-r"
GROK_GENERATION_MODEL = "grok-2-latest"

EMBEDDING_MODEL_ID = "BAAI/bge-m3"
EMBEDDING_MODEL_SIZE = 1024

# ========================= Parameters =========================
INPUT_DEFAULT_MAX_CHARACTERS = 1024
GENERATION_DEFAULT_MAX_TOKENS = 500
GENERATION_DEFAULT_TEMPERATURE = 0.1


# ========================= Vector DB Config =========================
VECTOR_DB_BACKEND="QDRANT"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="cosine"
